<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <log4net>
            <appender name="SerilogAppender"
                      type="SitecoreSerilog.Example.SeqSitecoreAppender, SitecoreSerilog.Example"
                      patch:after="appender[@name='LogFileAppender']">
                <minimumlevel value="INFO" />
                <apikey value="$(env:SEQ_API_KEY)" />
                <seqhost value="$(env:SEQ_URL)" />
                <layout type="log4net.Layout.PatternLayout" />
                <encoding value="utf-8" />
            </appender>

            <appender name="SearchSeqSerilogAppender"
                      type="SitecoreSerilog.Example.SeqSitecoreAppender, SitecoreSerilog.Example"
                      patch:after="appender[@name='LogFileAppender']">
                <minimumlevel value="ERROR" />
                <apikey value="$(env:SEQ_API_KEY)" />
                <seqhost value="$(env:SEQ_URL)" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[Search] %m%n" />
                </layout>
                <encoding value="utf-8" />
            </appender>

            <appender name="CrawlingSeqSerilogAppender"
                      type="SitecoreSerilog.Example.SeqSitecoreAppender, SitecoreSerilog.Example"
                      patch:after="appender[@name='LogFileAppender']">
                <minimumlevel value="ERROR" />
                <apikey value="$(env:SEQ_API_KEY)" />
                <seqhost value="$(env:SEQ_URL)" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[Crawling] %m%n" />
                </layout>
                <encoding value="utf-8" />
            </appender>

            <root>
                <appender-ref ref="SerilogAppender" patch:after="*[@ref='LogFileAppender']" />
            </root>

            <logger name="Sitecore.Diagnostics.Crawling">
                <appender-ref ref="CrawlingSeqSerilogAppender" patch:after="*[@ref='CrawlingLogFileAppender']" />
            </logger>

            <logger name="Sitecore.Diagnostics.Search">
                <appender-ref ref="SearchSeqSerilogAppender" patch:after="*[@ref='SearchLogFileAppender']" />
            </logger>
        </log4net>
    </sitecore>
</configuration>